@import "../_colors.sass"
@import "../_fonts.sass"

.container
  display: flex
  justify-content: space-around

.desc
  padding-bottom: 8px
  color: $color-text--secondary
  font-weight: 700

.form
  display: block

.button
  padding: 4px 8px
  background-color: $color-accent
  color: #ffffff
  font-family: $fonts-code

.table
  padding: 8px
  text-align: left
  th
    padding-right: 16px
    font-weight: 500

.variable
  padding-bottom: 8px
  color: $color-text--secondary
  font-family: $fonts-code
  font-size: 20px

.value
  padding-bottom: 8px
  color: $color-accent
  font-family: $fonts-code
  font-size: 20px

