@import "./_colors.sass"
@import "./_fonts.sass"

*
  margin: 0
  font-family: $fonts-normal
  font-size: 18px

h1, h2, h3
  font-family: $fonts-header
  line-height: 1

a
  text-decoration: none

code
  font-family: $fonts-code

button
  padding: 4px 8px
  background-color: $color-accent
  color: #ffffff
  font-family: $fonts-code

table
  padding: 8px
  text-align: left
  th
    padding-right: 16px
    font-weight: 500
    p
      padding-bottom: 8px
      color: $color-text--secondary
      font-family: $fonts-code
      font-size: 20px
  td>p
    padding-bottom: 8px
    color: $color-accent
    font-family: $fonts-code
